<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=\, initial-scale=1.0" />
        <title>Document</title>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            // const userid = prompt("User id: ");
            // socket.auth = { userId };
            // socket.connect();
        </script>
    </head>
    <body>
        <form
            action="/users/edit-profile-image"
            method="post"
            enctype="multipart/form-data"
        >
            <div>
                <label for="image-upload">Upload image</label>
                <input type="file" name="avatar" />
                <input type="text" name="id" />
            </div>
            <button type="submit">Upload</button>

            <img
                src="/api/image/1618753020098-Album 1.png"
                alt="image not found"
            />
        </form>
        <input class="input" type="text" />
        <button>Send</button>
        <script>
            const button = document.querySelector("button");
            const input = document.querySelector(".input");
            button.addEventListener("click", (e) => {
                socket.emit("send-message", receiver, input.value);
            });
            socket.on("receive-message", (text, senderID) => {
                alert(text + " " + senderID);
            });
        </script>
    </body>
</html>
